<launch>
<include file="$(find fetch_navigation)/launch/build_map.launch">
</include>
<node pkg="Fetch-Topgolf" type="keyboard_teleop.py" name="Fetch_teleop" output="screen">
</node>
<node pkg="rviz" type="rviz" name="$(anon rviz)" args="-d $(find Fetch-Topgolf)/config/assignment1.rviz">
</node>
</launch>
